@mixin center-v () {
  position: fixed;
  top: 0;
  bottom: 0;
  margin: auto;
}

.line1 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 35px;
    height: 1px;
    background-color: #ccc;
    width: 50px;
    right: 130px;
}

.line2 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -35px;
    height: 1px;
    background-color: #ccc;
    width: 50px;
    left: 130px;
}


.line3 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 15px;
    height: 1px;
    background-color: #666;
    width: 50px;
    right: 210px;
}

.line4 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -15px;
    height: 1px;
    background-color: #666;
    width: 50px;
    left: 210px;
}

.line5 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 15px;
    height: 1px;
    background-color: #ccc;
    width: 50px;
    right: 140px;
}

.line6 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -15px;
    height: 1px;
    background-color: #ccc;
    width: 50px;
    left: 140px;
}


.line7 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: 15px;
    height: 1px;
    background-color: #666;
    width: 50px;
    right: 140px;
}

.line8 {
    display: block;
    position: relative;
    margin: 0 auto;
    top: -15px;
    height: 1px;
    background-color: #666;
    width: 50px;
    left: 140px;
}
