
header {
  margin-top: 0px;
  height: 650px;
  width: 100%;
  overflow: hidden !important;
}

.header-image {
  // background-image: url(https://orig00.deviantart.net/96da/f/2015/202/3/2/red_city_by_kirokaze-d927ec2.png);
  background-image: url(/assets/images/futuristic_background.jpg);
  // background-image: url(https://media.giphy.com/media/5fBH6ziIYsfxeah3cBy/giphy.gif);

  background-position: center;
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;;
  z-index: 0;
  /* Preserve aspet ratio */
  width: 100%;
  min-height: 90%;
  margin-top: 40px;
  // margin: 0 auto;
  display: block;
  overflow:  hidden !important;
  border: 0px solid red;
}


@media only screen and (max-width: 768px) {

  .mobile-hidden {
    // display: none;
  }

}
