nav ul {
  background-color: white;
  height: 80px;
  margin: 0px;
  border: yellow 1px solid;
  padding: 30px 20px 0px 20px;
  text-align: right;

   li {
    margin: 0px;
    display: inline;
    color: #000;
    text-align: left;
  }
}
