* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: white;
  width: 100%;
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  // font-family: 'Open Sans', sans-serif;
}

main {
  // min-height: 100vh; /* make sure wrapper is taller enough */
  overflow: hidden;
}

.container {
  padding: 20px 40px 20px 40px;;
  overflow-x: hidden;
  // position:relative;
}

.section-white {
  margin-top: -20px;
  padding: 0px;
  background-color: white;
  position: relative;
}

.section-bottom {
  padding: 0px;
  background-color: #e4e4e4;
  z-index: -2;
  padding-top: 40px;
  padding-bottom: 40px;

  li {
    color: #1C3848;
  }
}

.section-grey {
  padding: 0px;
  background-color: #1d1d1d;
  z-index: -2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.flex-grid {
  display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
   flex-flow: row wrap;
   align-content: flex-end;
   margin-top: 0;

    .col-grey {
      flex: 1;
      // background-color: #1d1d1d;
      margin: 5px;
      width: 100%;
      border: 0px solid orange;
      padding: 20px;

      a {
        color: #ccc;
        text-decoration: underline;
      }

      &:hover {
        color: #E84545;
      }
    }

    .col-white {
      flex: 1;
      background-color: #fff;
      margin: 5px;
      width: 100%;
      height: 300px;
      border: 0px solid orange;
      padding: 20px;
    }


    .col-white-small {
      flex: 0.3 0 0;
      background-color: #fff;
      margin-top: 0px;
      width: 100%;
      border: 0px solid orange;
      padding: 0px 20px 0px 20px;
    }

      .col-portfolio {
        flex: 1;
        align-self: flex-start;
        background-color: #fff;
        margin: 5px;
        width: 100%;
        height: 100%;
        border: 1px solid #ccc;
        padding: 20px;

            &.card {
              background-color: black;
              box-shadow: #e4e4e4;
              color: white;
              max-width: 100%;
              position: relative;
            }

            &.card-content {
              background-color: white;
              padding: 1.5rem;
            }

            &.card-image {
              display: block;
              position: relative;
            }

            a {
              position: relative;
              color: #ccc;
              text-decoration: none;

              &:hover {
                color: #ccc;
              }

                &:after {
                  content: "";
                  position: absolute;
                  z-index: 2;
                  left: 0;
                  right: 100%;
                  bottom: -5px;
                  background: #E84545;
                  height: 2px;
                  transition-property: left right;
                  transition-duration: 0.1s;
                  transition-timing-function: ease-out;
                }

                  &:hover:after,
                  &:focus:after,
                  &:active:after {
                    right: 0;
                  }
            }
    }
}


@media only screen and (max-width: 768px) {

  .flex-grid {
    display: flex;
    flex-direction: column;
  }

  .section-white {
    margin-top: 0px;
  }

  .col-grey {
    padding: 0px;
    margin: 0px;
  }
}
