* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "."; display: block; height: 0; clear: both; visibility: hidden;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: white;
  color: green;
  width: 100%;
  margin: 0;
  font-family: 'Share Tech Mono', monospace;
  // font-family: 'Open Sans', sans-serif;
}

main {
  // min-height: 100vh; /* make sure wrapper is taller enough */
  overflow: hidden;
}

.container {
  padding: 20px;
}

.section-white {
  padding: 0px;
  background-color: white;
}

.section-grey {
  padding: 0px;
  background-color: #e4e4e4;
}

// .container {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   align-content: center;
//   justify-content: flex-start;
//   // position:relative;
//   // padding:10px;
//   margin: 0 auto;
//   width: 100%;
//   min-height: 100vh; /* make sure wrapper is taller enough */
//   border: solid thin #060;
//   // overflow: hidden; /* Add this */
// }
//
//
// .flex-item:nth-child(1) {
//     order: 0;
//     flex: 0 1 auto;
//     align-self: auto;
//     }
//
// .flex-item:nth-child(2) {
//     order: 0;
//     flex: 0 1 auto;
//     align-self: auto;
//     }


.flex-grid {
  display: flex;
   align-items: center;
   justify-content: center;
   /* You can set flex-wrap and
      flex-direction individually */
   flex-direction: row;
   flex-wrap: wrap;
   /* Or do it all in one line
     with flex flow */
   flex-flow: row wrap;
   /* tweak where items line
      up on the row
      valid values are: flex-start,
      flex-end, space-between,
      space-around, stretch */
      align-content: flex-end;
      margin-top: 0;

    .col-grey {
      flex: 1;
      background-color: #1d1d1d;
      margin: 5px;
      width: 100%;
      height: 300px;
      border: 1px solid orange;
      padding: 20px;
    }

    .col-grey-small {
      flex: 0.8 0 0;
      background-color: #1d1d1d;
      margin-top: 0px;
      width: 100%;
      height: 300px;
      border: 1px solid orange;
      padding: 40px;
    }

    .col-grey-big {
      flex: 2 0 0;
      background-color: #1d1d1d;
      margin-top: 0px;
      width: 100%;
      height: 300px;
      border: 1px solid orange;
      padding: 40px;
    }


    .col-white {
      flex: 1;
      background-color: #fff;
      margin-top: 0px;
      width: 100%;
      height: 100%;
      border: 1px solid orange;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .col-white-small {
      flex: 0.5 0 0;
      background-color: #fff;
      margin-top: 0px;
      width: 100px;
      height: 300px;
      border: 1px solid orange;
      padding: 40px;
    }

    .col-white-big {
      flex: 2 0 0;
      background-color: #fff;
      margin-top: 0px;
      width: 100%;
      height: 300px;
      border: 1px solid orange;
      padding: 40px;
    }

}

.title-box {
  border: 0px solid grey;
  width: 550px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 1;

  h1 {
    font-size: 50px;
    line-height: 1;
  }

  h2 {
      font-size: 20px;
        line-height: 0.5;
  }

}
