h1 {
  color: #fff;
  font-weight: lighter;
  text-align: left;

  &:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    opacity: 0;
    display: inline-block;
    animation: blink 0.5s linear infinite alternate;
  }
}

h2 {
  color: #fff;
  font-weight: lighter;
  text-align: center;

  span {
    font-size: 40px;
    color: #ccc;
    line-height: 0.5;
  }
}

.title-box {
  border: 0px solid grey;
  width: 600px;
  margin: 0 auto;
  position: absolute;
  top: 30%;
  left: 35%;
  z-index: 1;

  h1 {
    font-size: 55px;
    line-height: 1;
  }

  h2 {
      font-size: 20px;
        line-height: 0.5;
  }

}


@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

p {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Share Tech Mono', monospace;
  font-size: 17px;
  color: #ccc;
  text-align: center;
}

.caps {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  font-size: 14px;
  padding: 0;
  color: #666;
}
