h1 {
  color: #e4e4e4;
  font-weight: lighter;
  font-size: 55px;
  text-align: center;
  text-transform: lowercase;

  &:after {
    content: ' ';
    width: 20px;
    height: 5px;
    background: #ccc;
    opacity: 0;
    display: inline-block;
    animation: blink 0.5s linear infinite alternate;
  }
}

h2 {
  color: #ccc;
  font-weight: lighter;
  text-align: center;
  text-transform: lowercase;


  span {
    font-size: 25px;
    // color: #ccc;
    line-height: 0.5;
    border: 0px solid black;
  }
}

h3 {
  color: #3F77A2;
}

.title-box {
  border: 0px solid grey;
  width: 660px;
  // height: 400px;
  margin: 0 auto;
  position:  relative;
  top: 30%;
  // left: 35%;
  z-index: 1;

  h2 {
      font-size: 20px;
        line-height: 0.5;
        color: #ccc;
  }

}


@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

p {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Share Tech Mono', monospace;
  font-size: 17px;
  color: #ccc;
  text-align: center;
  text-align: justify;
}

.caps {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  font-size: 14px;
  padding: 0;
  color: #666;
}

.fas  {
  color: #666;
}

.tech {
  color: #999;
}
