h1 {
  color: #e4e4e4;
  font-weight: lighter;
  font-size: 55px;
  text-align: center;
  text-transform: lowercase;

  &:after {
    content: ' ';
    width: 20px;
    height: 5px;
    background: #ccc;
    opacity: 0;
    display: inline-block;
    animation: blink 0.5s linear infinite alternate;
  }
}

@keyframes blink {
  0% { opacity: 0.3; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

h2 {
  color: #ccc;
  font-weight: lighter;
  text-align: center;
  text-transform: lowercase;

  span {
    font-size: 25px;
    // color: #ccc;
    line-height: 0.5;
    border: 0px solid black;
  }
}

h3 {
  color: #E84545;
}

.title-box {
  border: 0px solid grey;
  width: 660px;
  margin: 0 auto;
  position:  relative;
  top: 30%;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
  height: 190px;

  h2 {
      font-size: 20px;
        line-height: 0.5;
        color: #fff;
      }
}

p {
  // font-family: 'Open Sans', sans-serif;
  font-family: 'Share Tech Mono', monospace;
  font-size: 17px;
  color: #ccc;
  text-align: center;
  text-align: left;
}

.caps {
  text-transform: lowercase;
  list-style: none;
  text-align: center;
  font-size: 15px;
  padding: 0;
  color: #666;
}

.fas  {
  color: #666;
}

.tech {
  color: #999;
}

@media only screen and (max-width: 768px) {
  .title-box {
    width: auto;
    z-index: 1;
    margin: 0 auto;
    margin-left: 0px;
    height: auto;
  }
}
