@import url("https://fonts.googleapis.com/css?family=Open+Sans:300i,400|Share+Tech+Mono");
* {
  box-sizing: border-box; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

html {
  height: 100%;
  min-height: 100%; }

body {
  background-color: white;
  width: 100%;
  margin: 0;
  font-family: 'Share Tech Mono', monospace; }

main {
  overflow: hidden; }

.container {
  padding: 20px; }

.section-white {
  margin-top: -20px;
  padding: 0px;
  background-color: white;
  border: 0px solid green;
  position: relative; }

.section-grey {
  padding: 0px;
  background-color: #1d1d1d; }

.flex-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  /* You can set flex-wrap and
     flex-direction individually */
  flex-direction: row;
  flex-wrap: wrap;
  /* Or do it all in one line
    with flex flow */
  flex-flow: row wrap;
  /* tweak where items line
     up on the row
     valid values are: flex-start,
     flex-end, space-between,
     space-around, stretch */
  align-content: flex-end;
  margin-top: 0; }
  .flex-grid .col-grey {
    flex: 1;
    background-color: #1d1d1d;
    margin: 5px;
    width: 100%;
    height: 300px;
    border: 0px solid orange;
    padding: 20px; }
  .flex-grid .col-white {
    flex: 1;
    background-color: #fff;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    border: 0px solid orange;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 40px;
    padding-bottom: 40px; }
  .flex-grid .col-white-small {
    flex: 0.3 0 0;
    background-color: #fff;
    margin-top: 0px;
    width: 100%;
    border: 0px solid orange;
    padding: 0px 20px 0px 20px; }
    .flex-grid .col-white-small p {
      text-align: justify; }
  .flex-grid.col-portfolio {
    flex: 1;
    background-color: #fff;
    margin-top: 0px;
    width: 40%;
    height: 300px;
    border: 0px solid orange;
    padding: 40px; }
    .flex-grid.col-portfolio.card {
      background-color: black;
      box-shadow: #e4e4e4;
      color: white;
      max-width: 100%;
      position: relative; }
    .flex-grid.col-portfolio.card-content {
      background-color: white;
      padding: 1.5rem; }
    .flex-grid.col-portfolio.card-image {
      display: block;
      position: relative; }

h1 {
  color: #fff;
  font-weight: lighter;
  text-align: center; }
  h1:after {
    content: '';
    width: 20px;
    height: 2px;
    background: #fff;
    opacity: 0;
    display: inline-block;
    animation: blink 0.5s linear infinite alternate; }

h2 {
  color: #fff;
  font-weight: lighter;
  text-align: center; }
  h2 span {
    font-size: 40px;
    color: #ccc;
    line-height: 0.5; }

.title-box {
  border: 1px solid grey;
  width: 600px;
  margin: 0 auto;
  position: relative;
  top: 30%;
  z-index: 1; }
  .title-box h1 {
    font-size: 55px;
    line-height: 1; }
  .title-box h2 {
    font-size: 20px;
    line-height: 0.5; }

@keyframes blink {
  0% {
    opacity: 0.3; }
  50% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
p {
  font-family: 'Share Tech Mono', monospace;
  font-size: 17px;
  color: #ccc;
  text-align: center; }

.caps {
  text-transform: uppercase;
  list-style: none;
  text-align: center;
  font-size: 14px;
  padding: 0;
  color: #666; }

.line {
  display: block;
  position: relative;
  margin: 0 auto;
  height: 3px;
  background-color: #ccc;
  width: 150px;
  left: -300px;
  transform: translateX(-50%); }

nav ul {
  width: 100%;
  background-color: #1d1d1d;
  height: 80px;
  margin: 0px;
  border: yellow 0px solid;
  padding: 30px 20px 0px 20px;
  text-align: right;
  position: fixed;
  z-index: 2; }
  nav ul li {
    margin: 0px;
    display: inline;
    color: #fff;
    text-align: left;
    letter-spacing: 0px;
    margin-left: 15px; }
  nav ul a {
    position: relative;
    color: #fff;
    text-decoration: none; }
    nav ul a:hover {
      color: #fff; }
    nav ul a:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      visibility: hidden;
      transition-property: left, right;
      -webkit-transform: scaleX(0);
      transform: scaleX(0);
      -webkit-transition: all 0.3s ease-in-out 0s;
      transition: all 0.3s ease-in-out 0s; }
    nav ul a:hover:before {
      visibility: visible;
      -webkit-transform: scaleX(1);
      transform: scaleX(1); }

header {
  height: 100vh;
  overflow: hidden; }

.header-image {
  background-image: url(https://i.pinimg.com/originals/a0/68/9a/a0689ae227c65817ffacc1f334312130.jpg);
  background-position: center;
  background-size: 100%;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  /* Preserve aspet ratio */
  min-width: 105%;
  height: 100%;
  margin: 0 auto;
  display: block; }

.image {
  display: block;
  position: relative;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  border-radius: 290486px; }

.card {
  background-color: black;
  box-shadow: #e4e4e4;
  color: white;
  max-width: 100%;
  position: relative; }

.card-header {
  background-color: white;
  align-items: stretch;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  display: flex; }

.card-header-title {
  align-items: center;
  color: black;
  display: flex;
  flex-grow: 1;
  font-weight: 16px;
  padding: 0.75rem; }
  .card-header-title.is-centered {
    justify-content: center; }

.card-header-icon {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem; }

.card-image {
  display: block;
  position: relative; }
  .card-image .card-content {
    background-color: white;
    padding: 1.5rem; }
  .card-image .card-footer {
    background-color: white;
    border-top: black;
    align-items: stretch;
    display: flex; }
  .card-image .card-footer-item {
    align-items: center;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    padding: 0.75rem; }

/*# sourceMappingURL=style.css.map */
